<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Panorama</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    </head>
    <body>
        <h1>Dashboard</h1>
        <div>
            <p>Hello  <%= username %>. In here, you may:
                <ul> 
                    <li>Add new sources</li>
                    <li>Manage your data collections</li>
                    <li>See your results</li>
                </ul>
            </p>
        </div>
    </body>
</html>