h1 {
    color: black;
    font-family: cursive;
}

p {
    color: black;
    font-family: Georgia, serif;
}

label {
    color: black;
    font-family: Georgia, serif;    
}

li {
    color: black;
    font-family: Georgia, serif;
}